Django>=3.0,<4
gunicorn==22.0.0
requests>=2.24.0,<3
django-crispy-forms>=1.9,<2
djangorestframework>=3.12.1
django-compressor>=2.4
django-debug-toolbar>=3.1.1
django-requests-debug-toolbar>=0.0.2
django-web-profiler>=0.1.4