{% extends 'base.html' %}

{% block title %}<title>About</title>{% endblock %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">
<script src="{% static 'js/about.js' %}" type="text/javascript"></script>

<div class="container-fluid">
    <div class="row flex-xl-nowrap">

        <!-- SIDEBAR -->
        <div class="sidebar">
            <div class="list-group list-group-root well make-me-sticky sidebar">
                <h4 class="sidebar-h4">Sample App</h4>
                <ul class="list">
                    <li class="list-section">
                        <a href="#" class="list-section-item sidebar-item-current" id="li-getting-started" onclick="onClickSidebarItem(this.id, 'Getting_Started')">Getting Started</a>
                    </li>
                    <li class="list-section">
                        <a href="#" class="list-section-item" id="li-glossary" onclick="onClickSidebarItem(this.id, 'Glossary')">Glossary</a>
                    </li>
                    <li class="list-section">
                        <a href="#" class="list-section-item" id="li-quick-start" onclick="onClickSidebarItem(this.id, 'Quick_Start')">Quick Start</a>
                        <a href="#Sites_Quick_Start" class="list-section-item" id="li-quick-start-sites" onclick="onClickSidebarItem('li-quick-start', 'Quick_Start')">Sites</a>
                    </li>
                    <li class="list-section">
                        <a href="#" class="list-section-item" id="li-tutorial" onclick="onClickSidebarItem(this.id, 'Tutorial')">Tutorial</a>
                        <a href="#Tutorial_Sites" class="list-section-item" id="li-tutorial-sites" onclick="onClickSidebarItem('li-tutorial', 'Tutorial')">Sites</a>
                        <a href="#Tutorial_Catalog" class="list-section-item" id="li-tutorial-catalog" onclick="onClickSidebarItem('li-tutorial', 'Tutorial')">Catalog</a>
                        <a href="#Tutorial_Order" class="list-section-item" id="li-tutorial-order" onclick="onClickSidebarItem('li-tutorial', 'Tutorial')">Order</a>
                    </li>
                    <li class="list-section">
                        <a href="#" class="list-section-item" id="li-authentication" onclick="onClickSidebarItem(this.id, 'Authentication')">Authentication</a>
                        <a href="#Authentication_HMAC" class="list-section-item" id="li-authentication-hmac" onclick="onClickSidebarItem('li-authentication', 'Authentication')">HMAC</a>
                        <a href="#Authentication_Implementation" class="list-section-item" id="li-authentication-implementation" onclick="onClickSidebarItem('li-authentication', 'Authentication')">Implementation</a>
                        <a href="#Authentication_Advantages"  class="list-section-item" id="li-authentication-advantages" onclick="onClickSidebarItem('li-authentication', 'Authentication')">Advantages</a>
                    </li>
                    <li class="list-section">
                        <a href="#" class="list-section-item" id="li-resources" onclick="onClickSidebarItem(this.id, 'Resources')">Resources</a>
                    </li>
                </ul>
            </div>
        </div>

        <main class="col-md-9 col-xl-9 py-md-3 pl-md-5" role="main">

            <!-- GETTING STARTED -->
            <div class="about-section" id="Getting_Started">
                <h2 class="section-header">Getting Started</h2>
                <p>This website for a mock burger startup was designed to demonstrate how you can incorporate the APIs available in NCR's Business Services Platform into your own applications. It was built using Django/Bootstrap and uses Python to make requests, so all code snippets for this tutorial will be written in Python. You can find relevant snippets for other languages on the dedicated pages for each API.
                </p>
                <input type=button class="btn-about-link" onClick="parent.open('https://github.com/NCR-Corporation/sample-app-burgers')" value="Go to GitHub">
                <img src="{% static 'images/getting-started2x.png' %}" alt="Getting Started" class="about-image" height="500rem">
                <div class="nav-btn-container-tight">
                    <input type=button class="btn-about-secondary" onclick="onClickNavButton('li-glossary', 'Glossary')" value="Up Next: Glossary">
                </div>
            </div>

            <!-- GLOSSARY -->
            <div class="about-section about-section-hidden" id="Glossary">
                <h2 class="section-header">Glossary</h2>
                <p><b>Application Programming Interface (API)</b> - This is a piece of code structured in such a way that allows other programs to use it without exposing the code where it originated. Think of an API as a waiter at a restaurant: it will bring your order to you, but you have no idea how the order was made.</p>
                <p><b>Site</b> - A site can be considered a physical location within the cloud. A site can be a restaurant, retail store, a warehouse, etc. Sites will be linked to most of the API calls that you make. They’re the heart of BSP.</p>
		    <p><b>SiteId</b> - This is a unique ID generated by the <i>siteAPI</i>. It is necessary for calls that depend on specific locations. Example: Retrieve the menu of XYZ location. In this request, XYZ location has a unique <i>SiteID</i>.</p>
                <p><b>NEP-Correlation-ID</b> - A unique debugging ID (user-generated) to help map errors.</p>
                <p><b>NEP-Organization</b> - This is the top-level organization that holds the information that is unique to a group of sites, such as the name of the group. For example: NCR-Burgers might be the NEP-Organization, but there could be several sites within the organization: <i>NCR Burgers Northside</i>, <i>NCR Burgers Southside<i>, and <i>NCR Burgers Midtown</i>.</p>
                <p><b>DevEx</b> - This is shorthand for the <a href="https://developer.ncr.com/">Developer Experience portal</a>.
                    It's the main resource for learning more about the various APIs available to you through the NCR Business Services Platform (BSP).</p>
                <p><b>Payload</b> - The Payload is a common variable name for a formatted string containing relevant information. Payloads in BSP generally have a specific format that your strings must adhere to or else your request will be denied.</p>
                <div class="nav-btn-container">
                    <input type=button class="btn-about" onclick="onClickNavButton('li-getting-started', 'Getting_Started')" value="Back">
                    <input type=button class="btn-about-secondary" onclick="onClickNavButton('li-quick-start', 'Quick_Start')" value="Up Next: Quick Start">
                </div>
            </div>

            <!-- QUICK START -->
            <div class="about-section about-section-hidden" id="Quick_Start">
                <h2 class="section-header">Quick Start</h2>
                <p> Before moving forward with the instructions below, you should already have built an application, obtained your API key, and be familiar with writing API requests. <br>

                    <br>Please make sure your credentials are valid and working before continuing. A test API request should have been set up for you. In order to continue, please complete the following step using your desired API testing tool (such as Postman, the terminal, or an IDE).<br>
                <p style="color:red"> <i> If your application has not been provisioned, use this url: https://gateway-staging.ncrcloud.com/provisioning/user-profiles </i> </p>
                <p> Here is an example using cURL: </p>
<!-- These code blocks have to go all the way to the edge. PLEASE DONT CHANGE THESE -->
<pre><code> $ <span style="color:orange">curl</span> --include https://gateway.ncrplatform.com/provisioning/user-profiles
 --user username:password
 --header <span style="color:green">'accept: application/json'</span>
 --header <span style="color:green">'nep-application-key: insert application key here' </span>
</code></pre>
<br>
                <div class="accordion" id="accordionCurl">
                      <div class="card z-depth-0 bordered">
                        <div class="card-header" >
                          <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#SuccessC"
                              aria-expanded="true" aria-controls="Success" style="color:black">
                              Successful Outcome Using Curl
                            </button>
                          </h5>
                        </div>
                        <div id="SuccessC" class="collapse " aria-labelledby="headingOne" data-parent="#accordionCurl">
<!-- These code blocks have to go all the way to the edge. PLEASE DONT CHANGE THESE -->
<pre style="margin-bottom:0px;"><code> HTTP/1.1 200 OK
 Date: Sun, 02 Aug 2020 06:04:46 GMT
 Content-Type: application/json
 Transfer-Encoding: chunked
 Connection: keep-alive
 expires: 0
 cache-control: no-cache, no-store, max-age=0, must-revalidate
 x-xss-protection: 1; mode=block
 pragma: no-cache
 x-frame-options: DENY
 nep-correlation-id: bsp-core-provisioning-rrt-3035756103282992204-b-gea1-802-51098851-1
 x-content-type-options: nosniff
 strict-transport-security: max-age=31536000 ; includeSubDomains
 x-envoy-upstream-service-time: 8
 Server: istio-envoy
 {<div style="color:green"> "username":"acct:username<span style="color:orange">,</span>
 "fullName":username"<span style="color:orange">,</span>
 "status":"ACTIVE"<span style="color:orange">,</span>
 "address":{}<span style="color:orange">,</span>
 "primary":true</div> }
</code></pre>
                        </div>
                      </div>

                      <div class="card z-depth-0 bordered">
                        <div class="card-header">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                              data-target="#Unsuccessful_OutcomeC" aria-expanded="false" aria-controls="collapseThree" style="color:black">
                              Unsuccessful Outcome Using Curl
                            </button>
                          </h5>
                        </div>
                        <div id="Unsuccessful_OutcomeC" class="collapse" aria-labelledby="headingThree" data-parent="#accordionCurl">
<pre style="margin-bottom:0px;"><code> HTTP/2 404
 Date: Sun, 02 Aug 2020 06:12:41 GMT
 content-type: application/json
 content-length: 279
 set-cookie: 9e59b60fc083da305b706811d8f0d8f4=a6e8496f1c6c3ac06f72f5cc3abc7804; path=/; HttpOnly; Secure <div style="color:red">
<span style="color:black"> If you are sure your API key is correct, the this is usually an url error.
 Try using the staging url listed above.</span>
 {
    "details":["ApplicationKey","api key","identifier"],
    "errorType":"com.ncr.nep.common.exception.ResourceDoesNotExistException",
    "message":"The ApplicationKey resource with the identifier 'key value' does not exist.",
    "statusCode":404
 }
<div style="color:black">
 HTTP/1.1 401 Unauthorized
 Date: Sun, 02 Aug 2020 06:21:39 GMT
 Content-Type: application/json
 Content-Length: 219
 Connection: keep-alive
 This is an invalid credentials error. Check your inputs.</div> {
    "details":["USER_CREDENTIALS","The user credentials are invalid"],
    "errorType":"com.ncr.nep.common.exception.InvalidCredentialsException",
    "message":"USER_CREDENTIALS - The user credentials are invalid","statusCode":401
 }</div></code></pre>
    </div>
  </div>
</div>
                            <br>

                            <p> Here is an example using the Python <i>Requests</i> module:</p>
<!-- These code blocks have to go all the way to the edge. PLEASE DONT CHANGE THESE -->
<pre><code><span style="color:orange"> import</span> requests

 url = <span style="color:green">'https://gateway.ncrplatform.com/provisioning/user-profiles' </span>
 r = requests.get(url<span style="color:orange">, </span><span style="color:red">auth</span>=(HMACAuth()))
 <span style="color:blue">print</span>(r.text)
 <p><em><b> *HMACAuth()</b> is a function that implements the HMAC authentication algorithm that NCR uses.
 More information about the HMACAuth() function and how it can be created can be found in the Authentication section.</em></p></code></pre>
<br>
                      <div class="accordion" id="accordionPython">
                      <div class="card z-depth-0 bordered">
                        <div class="card-header" id="">
                          <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#Success"
                              aria-expanded="true" aria-controls="Success" style="color:black">
                              Successful Outcome Using Python
                            </button>
                          </h5>
                        </div>
                        <div id="Success" class="collapse " aria-labelledby="headingOne" data-parent="#accordionPython">
<!-- These code blocks have to go all the way to the edge. PLEASE DONT CHANGE THESE -->
<pre style="margin-bottom:0px;"><code> {<div style="color:green">    "username":"acct:username<span style="color:orange">,</span>
    "fullName":username"<span style="color:orange">,</span>
    "status":"ACTIVE"<span style="color:orange">,</span>
    "address":{}<span style="color:orange">,</span>
    "primary":true <span></span></div> }
</code></pre>
                    </div>
                  </div>

  <div class="card z-depth-0 bordered">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
          data-target="#Unsuccessful_Outcome" aria-expanded="false" aria-controls="collapseThree" style="color:black">
          Unsuccessful Outcome Using Python
        </button>
      </h5>
    </div>
    <div id="Unsuccessful_Outcome" class="collapse" aria-labelledby="headingThree" data-parent="#accordionPython">
<!-- These code blocks have to go all the way to the edge. PLEASE DONT CHANGE THESE -->
<pre style="margin-bottom:0px;"><code><div style="color:red"><span style="color:black"> This is an invalid credentials error. Check your inputs.</span>
 {
    "details":["USER_CREDENTIALS","The user credentials are invalid"],
    "errorType":"com.ncr.nep.common.exception.InvalidCredentialsException",
    "message":"USER_CREDENTIALS - The user credentials are invalid","statusCode":401
 }
<span style="color:black"> If you are sure your API key is correct, this is usually an url error.
 Try using the staging url listed above.</span>
 {
    "details":["ApplicationKey","api key","identifier"],
    "errorType":"com.ncr.nep.common.exception.ResourceDoesNotExistException",
    "message":"The ApplicationKey resource with the identifier 'key value' does not exist.",
    "statusCode":404
 }
</div>
</code></pre>
    </div>
  </div>
</div>
<br>
        <div id="Sites_Quick_Start">
            <h4 class="sub-section-header" id="Quick_Start_Sites">Sites</h4>
            <p>
                Sites are the heart of the DevEx portal, and most API calls made within the portal utilize them. Your organization can have any number of sites but requires that you create at least one. This should be done using the <a href="https://developer.ncr.com/portals/dev-portal/api-explorer/details/15/documentation?version=1.99&path=post_sites_import">Site API call</a>.

            <p>Here is an example of how a site is created using Python:</p>
<!-- These code blocks have to go all the way to the edge. PLEASE DONT CHANGE THESE -->
<pre><code><span style="color:grey"><i># To create a site, the only requirements are: a siteName, the enterpriseUnitName( this should be the same as the siteName ), the location coordinates and the status</i></span>
 <span style="color:orange">import</span> requests

<span style="color:orange"> def</span><span style="color:mediumorchid"> create</span>(siteName<span style="color:orange">,</span>enterpriseUnitName):
    url = <span style="color:green">'https://gateway-staging.ncrcloud.com/site/sites'</span>

    <span style="color:green">payload =  "{\"siteName\":\"%s\"<span style="color:orange">,</span>\"enterpriseUnitName\":\"%s\"<span style="color:orange">,</span>\"coordinates\":{\"latitude\":33.6817952<span style="color:orange">,</span>\"longitude\":-84.4239568}<span style="color:orange">,</span>\"status\":\"ACTIVE\"}" %(siteName<span style="color:orange">,</span>enterpriseUnitName)</span>

     r = requests.post(url, payload, <span style="color:red">auth</span>=(HMACAuth()))

     <span style="color:blue">print</span> (r.json())


 siteName = <span style="color:green">"NCRBurgerDemo"</span>
 enterpriseUnitName=<span style="color:green">"NCRBurgerDemo"</span>
 <span style="color:purple">create</span>(siteName<span style="color:orange">,</span>enterpriseUnitName)</code></pre>
<br>
            <div class="accordion" id="accordion3">
                      <div class="card z-depth-0 bordered">
                        <div class="card-header">
                          <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#Success1"
                              aria-expanded="true" aria-controls="Success" style="color:black">
                              Successful Outcome Using Python
                            </button>
                          </h5>
                        </div>
                        <div id="Success1" class="collapse " aria-labelledby="headingOne" data-parent="#accordionPython">
<!-- These code blocks have to go all the way to the edge. PLEASE DONT CHANGE THESE -->
<pre style="margin-bottom:0px;"><code><span style="color:grey"> # You will want to save the id generated here. This id will be used in other API calls. If you lose this result, you can grab it again using the get API call inside of site.</span>
 {<div style="color:green">    'id': 'the site id'<span style="color:orange">,</span>
    'siteName': 'NCRBurgerDemo1'<span style="color:orange">,</span>
    'enterpriseUnitName': 'NCRBurgerDemo1'<span style="color:orange">,</span>
    'coordinates': {'latitude': 33.6817952, 'longitude': -84.4239568}<span style="color:orange">,</span>
    'status': 'ACTIVE'<span style="color:orange">,</span>
    'customAttributeSets': []<span style="color:orange">,</span>
    'createdOn': '2020-08-03T03:42:07.246Z'<span style="color:orange">,</span>
    'lastModifiedOn': '2020-08-03T03:42:07.246Z'<span style="color:orange">,</span>
    'organizationName': 'your organizationName'<span style="color:orange">,</span>
    'enterpriseSettings': [] </div>
 }

 Response 200 is a success code.
</code></pre>
                    </div>
                  </div>

  <div class="card z-depth-0 bordered">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
          data-target="#Unsuccessful_Outcome1" aria-expanded="false" aria-controls="collapseThree" style="color:black">
          Unsuccessful Outcome Using Python
        </button>
      </h5>
    </div>
    <div id="Unsuccessful_Outcome1" class="collapse" aria-labelledby="headingThree" data-parent="#accordion3">
<!-- These code blocks have to go all the way to the edge. PLEASE DONT CHANGE THESE -->
<pre style="margin-bottom:0px;"><code><div style="color:red"><span style="color:black"> This is a duplicate site error. Make sure your siteNames are unique values.</span>
 {
    'constraintViolations': [{'invalidValue': 'NCRBurgerDemo1', 'message': 'A duplicate enterprise unit name already exists.',
    'propertyPath': 'enterpriseUnitName'}],
    'details': [],
    'errorType': 'com.ncr.nep.common.exception.PayloadConstraintViolationException',
    'message': "[The value 'NCRBurgerDemo1' is invalid for the path 'enterpriseUnitName': A duplicate enterprise unit name already exists.]",
    'statusCode': 400
 }<div style="color:black">  There are several errors you can get using the createSite API:
    400 - invalid input ( Check your inputs )
    401 - invalid credientails ( Check your login and password )
    403 - invalid authorization ( Contact NCR administrator, you do not have correct privileges)</div></div>
</code></pre>
    </div>
  </div>
</div><br>
            <span style="color:red"><i>It is recommended that you create C.R.U.D. (Create, Read, Update, Delete) functions for navigating around your site. Deletion is currently supported by changing the status of a site to INACTIVE. Once it has been marked as such, the site will be purged from the directory within 31 days. You can easily create a ‘delete’ function by copying the ‘update’ function and changing the body to status: INACTIVE. 
</i></span>
        <br><br><p>Here is what a 'read' function looks like:</p>
<!-- These code blocks have to go all the way to the edge. PLEASE DONT CHANGE THESE -->
<pre><code><span style="color:grey"># If you missed grabbing the ID in the site creation function, the site get API call will have the ID within the json result. </span>
 <span style="color:orange">import</span> requests

<span style="color:orange"> def</span> <span style="color:mediumorchid">query</span>(id):

    url = <span style="color:green">'https://gateway-staging.ncrcloud.com/site/sites/%s'</span> %id

    r = requests.get(url<span style="color:orange">,</span> <span style="color:red">auth</span>=(HMACAuth()))

    <span style="color:blue">print</span>(r.json())</code></pre>

            <br><p>This example features an 'update' function:</p>
<!-- These code blocks have to go all the way to the edge. PLEASE DONT CHANGE THESE -->
<pre><code><span style="color:grey"> # In this example, we have decided to update the siteName. Notice we are passing the siteId and the name we want to change for the site.</span>
 <span style="color:orange">import</span> requests

 <span style="color:orange">def</span><span style="color:mediumorchid"> updateSiteName</span>(id<span style="color:orange">,</span>siteName):
    url = <span style="color:green">'https://gateway-staging.ncrcloud.com/site/sites/%s'</span> %id

    payload = <span style="color:green">"{\"siteName\":\"%s\"<span style="color:orange">,</span>\"enterpriseUnitName\":\"%s\"<span style="color:orange">,</span>\"coordinates\":{\"latitude\":33.6407<span style="color:orange">,</span>\"longitude\":-84.4277}<span style="color:orange">,</span>\"status\":\"ACTIVE\"}"</span>%(siteName<span style="color:orange">,</span>siteName)</span>

    r = requests.put(url<span style="color:orange">,</span> payload<span style="color:orange">,</span> <span style="color:red">auth</span>=(HMACAuth()))

    <span style="color:blue">print</span>(r.json())
</code></pre>

            <br><p>An example of a 'delete' function would be:</p>
<pre><code> <span style="color:orange">import</span> requests

 <span style="color:orange">def</span><span style="color:mediumorchid"> deleteSite</span>(id):
    url = <span style="color:green">'https://gateway-staging.ncrcloud.com/site/sites/%s'</span> %id

    payload = <span style="color:green">"{\"status\":\"INACTIVE\"}" </span>

    r = requests.put(url<span style="color:orange">,</span> payload<span style="color:orange">,</span> <span style="color:red">auth</span>=(HMACAuth()))

    <span style="color:blue">print</span>(r.json())
</code>

</pre>

            <p>With your site created, you can begin using most of the <a href="https://developer.ncr.com/portals/dev-portal/api-explorer/details/15/documentation?version=1.99&path=post_sites_import">available APIs</a> in the DevEx portal. Continue to the next guided section to take an in-depth look at some of those same APIs as they were used to create this demo site.  </p>
            <div class="nav-btn-container">
                <input type=button class="btn-about" onclick="onClickNavButton('li-glossary', 'Glossary')" value="Back">
                <input type=button class="btn-about-secondary" onclick="onClickNavButton('li-tutorial', 'Tutorial')" value="Up Next: Tutorial">
            </div>
        </div>
            </div>

            <!-- TUTORIAL -->
            <div class="about-section about-section-hidden" id="Tutorial">
                <h2 class="section-header">Tutorial</h2>
                <p>
               The guide below will review how to use several of NCR’s available APIs in real-life applications, from site creation to integrating more advanced calls such as <a href="https://developer.ncr.com/portals/dev-portal/api-explorer/details/8/documentation?version=2.99">Catalog</a> and creating <a href="https://developer.ncr.com/portals/dev-portal/api-explorer/details/9/documentation?version=3.99">Orders</a>. 
                </p>

                <h4 class="sub-section-header" id="Tutorial_Sites">Sites</h4>
                <p>In this demo site example, many of the APIs from DevEx are used to create a fictional burger restaurant chain, NCR Burgers.</p>
		<p>First, let’s create sites for this new business. One is needed for each location: Midtown, Highlands, and Southland. The same functions from the previous section (‘create’, ‘query’, and ‘update’) will be used to accomplish this. We can then use the <i>‘findByCriteria’</i> site call to pull down all locations.     
		    </p>
		 <p>Below is a function that can be used to pull all locations once they have been created: 
		    </p>
<pre><code> <span style="color:orange">import</span> requests

 <span style="color:orange">def</span> <span style="color:mediumorchid">findAllSites</span>():
    url = <span style="color:green">'https://gateway-staging.ncrcloud.com/site/sites/find-by-criteria?pageSize=10000'</span>

    payload = <span style="color:green">"{\"criteria\":{\"status\": \"ACTIVE\"}}"</span>

    r = requests.post(url<span style="color:orange">,</span> payload<span style="color:orange">,</span> <span style="color:red">auth</span>=(HMACAuth()))

    <span style="color:blue">print</span>(r.json())</code></pre>


<div class="accordion" id="accordionResultsFindByCriteria">
  <div class="card">
    <div class="card-header" >
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:black">
          Results of findByCriteria
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionResultsFindByCriteria">
<pre style="margin-bottom:0px;"><code style="color:green"> {
 'lastPage': True,
 'pageNumber': 0,
 'totalPages': 1,
 'totalResults': 3,
 pageContent': [
 {
 id': 'siteNumber',
 'siteName': 'NCR Burgers Unlimited Highlands Demo',
 'enterpriseUnitName': 'NCR Burgers Unlimited Highlands Demo',
 'coordinates': {'latitude': 33.9699, 'longitude': -84.2215},
 'status': 'ACTIVE',
 'customAttributeSets': [],
 dayparts': []
 }, {
  'id': 'siteNumber',
  'siteName': 'NCR Burgers Unlimited Midtown Demo',
  'enterpriseUnitName': 'NCR Burgers Unlimited Midtown Demo',
  'coordinates': {'latitude': 33.6817, 'longitude': -84.4239},
  'status': 'ACTIVE',
  'customAttributeSets': [],
  'dayparts': []
  }, {
  'id': 'siteNumber',
  'siteName': 'NCR Burgers Unlimited Southland Demo Site',
  'enterpriseUnitName': 'Burgers Unlimited Southland Demo Site',
  'coordinates': {'latitude': 33.6407, 'longitude': -84.4277},
  'status': 'ACTIVE',
  'customAttributeSets': [],
  'dayparts': []
  },]
 }</code></pre>
      </div>
    </div>
  </div>

    <br><p>With the sites created, the next step should be to create a function that would allow the display of restaurants within a specified radius, such as five or ten miles from an input address. This can be accomplished using the <i>‘findNearby’</i> API call, as shown in the example below:   </p>

<pre style="padding=10px"><code><span style="color:grey"># It's worth noting that this API call requires geocoordinates. You will need to determine how to transform an address into geocoordinates. There are several ways to do this.</span>
 <span style="color:orange">import</span> requests

 <span style="color:orange">def</span> <span style="color:mediumorchid">findResturantsInRange</span>(coordinates<span style="color:orange">,</span> radius):
    # The radius in this function is in meters, so unit that user enters needs to be converted to from miles to meters. 1 mile = 1609 meters

    y = coordinates['y']
    x = coordinates ['x']
    circle = radius * meters

    url = <span style="color:green">'https://gateway-staging.ncrcloud.com/site/sites/find-nearby/%s,%s'</span> %(coordinates['y']<span style="color:orange">,</span>coordinates['x'])

    payload = {
        <span style="color:green">'numSites'</span>:10<span style="color:orange">,</span>
        <span style="color:green">'radius'</span>: circle<span style="color:orange">,</span>
    }

    r = requests.get(url<span style="color:orange">, </span><span style="color:red">params</span>=payload, <span style="color:red">auth</span>=(HMACAuth()))</code></pre>

        <p>The function searches for sites within the input address coordinates and input mile radius. This will return a JSON object that contains all restaurants in that range. How you implement your application will determine how this information displays to the user.   </p>
        <p>This isn’t the only method for locating restaurants based on distance, however. Instead of using <i>‘findNearby’</i>, you could opt to use the <i>‘findByCriteria’</i> function. In this case, the criteria would be status = <i>ACTIVE</i>. You could then compile a list of restaurants and perform calculations to find the distance of each from the given address. The desired outcome will determine which APIs should be used. </p>

                <h4 class="sub-section-header" id="Tutorial_Catalog">Catalog</h4>
                <p>Now that the demo restaurants each have a location, it’s time to create a menu using the <a href="https://developer.ncr.com/portals/dev-portal/api-explorer/details/8/documentation?version=2.99">Catalog API</a>.
                    Catalog views items and item components separately, with the item as the base component. Once an item is created, other components (such as details, custom modifiers, groupings, prices, and link groups) can be combined with it to suit your business needs. For the purposes of this demonstration, we will create items with price components to build the restaurant menu.  
                </p>
		    <p>Below is the function that creates an item: </p>

<pre><code><span style="color:grey"> # The department field is not a required field. It is a field necessary for the frontend implementation of this app.</span>
 <span style="color:orange">import</span> requests

<span style="color:orange"> def</span> <span style="color:mediumorchid">createItem</span>(itemName<span style="color:orange">,</span> version<span style="color:orange">,</span> shortDescription<span style="color:orange">,</span> location<span style="color:orange">,</span> department<span style="color:orange">,</span> enterpriseId):

    url = <span style="color:green">'https://gateway-staging.ncrcloud.com/catalog/items/%s'</span> %(itemName)


    payload = <span style="color:green">"{\"version\":%s,\"shortDescription\":{\"values\":[{\"locale\":\"en-US\",\"value\":\"%s\"}]},\"status\":\"ACTIVE\",\"merchandiseCategory\":\"%s\",\"departmentId\":\"%s\"}" </span> %(version<span style="color:orange">,</span>shortDescription<span style="color:orange">,</span>location<span style="color:orange">,</span>department)

    r = requests.put(url<span style="color:orange">,</span> payload<span style="color:orange">,</span> <span style="color:red">auth</span>=(HMACAuth(enterpriseId)))

    <span style="color:blue">print</span>(r.json())

    <span style="color:grey"># Both a successful and unsuccessful will result in code 204 unless the payload was malformed. You will need to create a getItem function to check if your item was created. </span>
</code></pre>
                <span style="color:red">Just as with the Site API, deletion is supported by marking items as <i>INACTIVE</i>. Creating C.R.U.D. functions is also recommended for this API.</span>
 <br/><br/>
		    <p>If desired, the same ‘create’ function from before can be used, increasing the version number rather than making an update to the function itself. 
		    </p>
		    <p>Here's an example of a 'read' function: </p>
<pre><code><span style="color:orange"> <span style="color:orange">import</span> requests

 def</span> <span style="color:mediumorchid">getItem</span>(itemName):
    url = <span style="color:green">'https://gateway-staging.ncrcloud.com/catalog/items/%s'</span> %itemName

    r = requests.get(url<span style="color:orange">,</span> <span style="color:red">auth</span>=(HMACAuth()))

    return r.json()
</code></pre>
		    <p>Each item created will need a <i>price-item</i>. The same general principle from before is applied here: create C.R.U.D. functions to interact with the API. <span style="color:red"><i>Mark items as INACTIVE to delete them as needed.</i>
                    </span>
                <p>Here is a 'create' price-item function example:</p>
            <pre><code><span style="color:orange"> <span style="color:orange">import</span> requests

 def</span> <span style="color:mediumorchid">createPrice</span>(itemName<span style="color:orange">,</span> itemPriceId<span style="color:orange">,</span> version<span style="color:orange">,</span> price<span style="color:orange">,</span> enterpriseId):
    url = <span style="color:green">'https://gateway-staging.ncrcloud.com/catalog/item-prices/%s/%s'</span> % (itemName<span style="color:orange">,</span> itemPriceId)


    payload = <span style="color:green">"{\"version\":%s,\"price\":%s,\"currency\":\"US Dollar\",\"effectiveDate\":\"2020-07-16T18:22:05.784Z\",\"status\":\"ACTIVE\"}"</span> %(version<span style="color:orange">,</span> price)

    r = requests.put(url<span style="color:orange">, </span>payload<span style="color:orange">,</span><span style="color:red">auth</span>=(HMACAuth(enterpriseId)))

    <span style="color:blue">print</span>(r.json())</code></pre>


            <p>And here is a'n example of a 'read price-item function:</p>

<pre><code> <span style="color:orange">import</span> requests

 <span style="color:orange">def</span> <span style="color:mediumorchid">getPrice</span>(itemName<span style="color:orange">,</span> itemPriceId<span style="color:orange">,</span>enterpriseId):

    url = <span style="color:green">'https://gateway-staging.ncrcloud.com/catalog/itemPrices/%s/%s'</span> %(itemName<span style="color:orange">,</span> itemPriceId)

    r = requests.get(url<span style="color:orange">,</span> <span style="color:red">auth</span>=(HMACAuth(enterpriseId)))

    <span style="color:blue">print</span>(r.json())</code></pre>
</code></pre>
            <p>Once every item has a price-item, you may employ all desired types of logic to accomplish your intended outcomes. For this demo, a call for finding item by criteria was used to build a menu. The Store Name was used as the criteria to grab all store items:</p>

<p>Here is some pseudo-code for that:</p>
<pre><code> for every item within the store
    grab the itemName and store it in a list
</code></pre>
            <p>With a list of store items, the ‘get-multiple API’ call can be used to pull down the items’ prices. This needs to be iterated through the JSON object that is returned so that the items and itemPrices can be linked together. 

<br><br>Here is some pseudo-code for that:</p>
<pre><code> for each item in the JSON object:
	match the itemName from the list to the matching itemPrice value.
        add the itemName and itemPrice into a single object or dict</code></pre>
            <p>Having itemName and itemPrices connected opens up many possibilities for using that information. In this case, it is passed to the front end and used to create the menu for the multiple burger restaurant locations (Highland, Southland, and Midtown).</p>
                <h4 class="sub-section-header" id="Tutorial_Order">Order</h4>
                    <p>Finally, the <a href="https://developer.ncr.com/portals/dev-portal/api-explorer/details/9/documentation?version=3.99)">Order API</a>was used in the demo burger site to create an order from the items within a user’s shopping cart, as well as to keep track of those items and to “push” the order through when the user checks out.</p>
                     <p>For the purposes of this demonstration, the relevant values were parsed out of the shopping cart. Then those values were placed into the payload of the <i>createOrder</i> API call. However, if desired, the order can be created at any stage, such as at the beginning of the user experience or at the end when the customer is checking out. </p>
            <p>Below is a pseudo-code example for creating an order:</p>
<pre><code> for each item in Shopping Cart:
    parse relevant information
    place relevant information inside of order payload

 make request using modified payload</code></pre>
            <p>While only a few APIs were utilized for the restaurant demo, there are many others available through the NCR DevEx portal. Check out the <a href="https://developer.ncr.com/portals/dev-portal/api-explorer">Explore APIs</a> section of DevEx to learn more. 
                portal to learn more.</p>
            <div class="nav-btn-container">
                <input type=button class="btn-about" onclick="onClickNavButton('li-quick-start', 'Quick_Start')" value="Back">
                <input type=button class="btn-about-secondary" onclick="onClickNavButton('li-authentication', 'Authentication')" value="Up Next: Authentication">
            </div>
            </div>

            <!-- AUTHENTICATION -->
            <div class="about-section about-section-hidden" id="Authentication">
                <h2 class="section-header">Authentication</h2>
                  <p>
                    The APIs available within the Business Services Platform support Access Key (HMAC) and Access Token authentication methods. Choose the authentication style that best fits the needs of your organization and those of your intended product users. The sample app featured on this site uses HMAC/Access Key authentication (as discussed in further detail in the next section). For information about how to use other authentication styles, check out  <a href="https://developer.ncr.com/portals/dev-portal/help-center/documentation/66">this article</a>.         
                  </p>
                <h4 class="sub-section-header" id="Authentication_HMAC">HMAC</h4>
                  <p>
                    Access Key authentication uses a hash-based message authentication code (HMAC) to uniquely sign a single HTTP request. This method is intended for non-interactive users (technical users) who are involved in software-to-software or system-to-system authentication scenarios. 
                    <br><br>
                    Access keys are comprised of two parts: a <i>secret key</i> and a <i>shared key</i>. These are managed by the <i>'security-access-keys'<i>
			  services in the <i>'security'</i> application.<br><br>
			  Below is an example of access key authentication in an HTTP request:
                  </p>
<!-- These code blocks have to go all the way to the edge. PLEASE DONT CHANGE THESE -->
<pre><code>GET /provisioning/user-profiles HTTP/1.1
Accept: application/json
Accept-Encoding: gzip, deflate
Authorization: AccessKey e63ca6a9ca2e4db2bc13b741e7488437:Ysvt4LcqSnmIjvPbolVm2bS/zDXdqnYBtgtG+lWMlLI6uJp1MJiW34OVNtYrYA/B+6T/NDqhqFxbtlvuIFBliw==
Date: Wed, 26 Jun 2019 17:38:30 GMT
Host: gateway.ncrplatform.com
nep-application-key: 8a808f0d515f1f1001515f1fdc010002
</code></pre>
			  <p>The scheme used in the 'Authorization' header is <i>'AccessKey'</i>. The credentials portion of the header consists of the following parts:</p>
<pre><code>&ltshared-key&gt:&lthmac&gt
</code></pre>
                <h4 class="sub-section-header" id="Authentication_Implementation">Implementation</h4>
                  <p>
                    The credentials for each request contain a user’s shared key and HMAC generated from their secret key. The general algorithm for generating the HMAC is featured below (You can also see the pseudo-code form <a href="https://developer.ncr.com/portals/dev-portal/help-center/documentation/66">here</a>):
                  </p>
 <!-- These code blocks have to go all the way to the edge. PLEASE DONT CHANGE THESE -->
<pre><code>1. Get the native <span style="color:blue">DATE</span> value from the request’s HTTP headers
2. Convert the native <span style="color:blue">DATE</span> to <span style="color:blue">ISO-8601</span> string format
3. Generate a unique key from the following concatenated string: <span style="color:magenta">{secretKey + ':' + requestDate}</span>
4. Generate a signature from the request data to use in HMAC calculation (see note below)
5. Generate HMAC using the <span style="color:blue">SHA-512</span> algorithm, passing in the key and signature as inputs
6. Convert the outputted HMAC from above to Base64 <span style="color:blue">Base64</span> encoding
7. Return the following concatenated string as the output: <span style="color:magenta">{sharedKey + ':' + encodedHMAC}</span>
</code></pre>
                  <p>
                    <b>Note</b>: A string is generated containing data from the request. This will be used to generate a signature. When passed to the HMAC calculation, the string’s bytes should be encoded in UTF-8. The following is added to the sign-able content (in required order, delimited by a '\n' character):
                  </p>
                  <ul>
			  <li>HTTP method from the request (<b>Required</b>)</li>
			  <li>Relative URI from the HTTP request, path and query string (<b>Required</b>)</li>
                    <li>Content-Type header value (if specified in request)</li>
                    <li>Content-MD5 header value (if specified in request)</li>
                    <li>NEP-Application-Key header value (if specified in request)</li>
                    <li>EP-Correlation-ID header value (if specified in request)</li>
                    <li>NEP-Organization header value (if specified in request)</li>
                    <li>NEP-Service-Version header value (if specified in request)</li>
                  </ul>
                <h4 class="sub-section-header" id="Authentication_Advantages">Advantages</h4>
			  <p>There are some advantages to HMAC authentication, such as: </p>
                  <ul>
                    <li>It allows maintenance of a single platform identity with multiple credentials expressed in the form of access keys.</li>
                    <li>Individual access keys can be disabled or deleted without affecting other keys or the identity itself. </li>
                    <li>The secret key never expires, which simplifies interaction with the platform as compared to using temporary access tokens. </li>
                    <li>This method guarantees authenticity of the full request instead of a specific part of the request (such as the Authorization header). </li>
                    <li>Actual user secrets are never transmitted over the wire as each request has a unique HMAC.</li>
                  </ul>
                Below is an example of the HMACAuth class and function used through the app. <i>Please note that this code snippet is only an example and will not work without the correct environment and credentials.</i><br>
                <em>(This is an example. This code snippet will not work without the correct environment and credentials.)</em><br><br>
<pre><code><span style="color:orange"> import</span> base64
<span style="color:orange"> import </span>hashlib
<span style="color:orange"> import </span>hmac
<span style="color:orange"> from</span> datetime <span style="color:orange">import</span> datetime
<span style="color:orange"> from</span> urllib.parse <span style="color:orange">import</span> urlparse
<span style="color:orange"> import</span> requests
<span style="color:orange"> from</span> _datetime <span style="color:orange">import</span> timezone
<span style="color:orange"> from </span>BurgersUnlimited.settings <span style="color:orange">import</span> *

<span style="color:orange"> class</span> HMACAuth(requests.auth.AuthBase):

    <span style="color:orange">def</span> <span style="color:mediumorchid">__init__</span>(<span style="color:mediumorchid">self</span><span style="color:orange">,</span> enterprise_unit=<span style="color:green">'0'</span>):
        <span style="color:green">"""
       Constructs all necessary attributes for the HMACAuth object.

       :param enterprise_unit: id of the nep enterprise unit the request applies to
       """</span>
       <span style="color:mediumorchid">self</span>.enterprise_unit = enterprise_unit
       <span style="color:mediumorchid">self</span>.hmac_shared_key = HMAC_SHARED_KEY
       <span style="color:mediumorchid">self</span>.hmac_secret_key = HMAC_SECRET_KEY
       <span style="color:mediumorchid">self</span>.nep_application_key = NEP_APPLICATION_KEY

    <span style="color:orange">def</span> <span style="color:mediumorchid">__call__</span>(<span style="color:mediumorchid">self</span><span style="color:orange">,</span> request):
       <span style="color:green">"""
       Constructs HMAC to uniquely sign a HTTP authorization request.

       :param request: the HTTP request
       :return: the full credentials string for the HTTP Authorization header
       """</span>
       now = datetime.now(<span style="color:red">tz</span>=timezone.utc)
       now = datetime(now.year, now.month, now.day, <span style="color:red">hour</span>=now.hour,
           <span style="color:red">minute</span>=now.minute, <span style="color:red">second</span>=now.second)

       isoDate = now.isoformat(<span style="color:red">timespec</span>=<span style="color:green">'milliseconds'</span>) + <span style="color:green">'Z'</span>
       utcDate = now.strftime(<span style="color:green">'%a, %d %b %Y %H:%M:%S GMT'</span>)

       # Get the one-time key with the current date string
       key = <span style="color:mediumorchid">self</span>.customKey(isoDate)

       # Parse date string from header to a native representation
       parsedUrl = urlparse(request.url)

       # Get data from the request headers to sign in the HMAC string
       request.headers[<span style="color:green">'Date'</span>] = utcDate
       request.headers[<span style="color:green">'Content-Type'</span>] = 'application/json'

       if <span style="color:mediumorchid">self</span>.enterprise_unit != <span style="color:green">'0'</span>:
           request.headers[<span style="color:green">'nep-enterprise-unit'</span>] = <span style="color:mediumorchid">self</span>.enterprise_unit

       <span style="color:orange">if <span style="color:green">'site' </span> not in </span> parsedUrl.path:
           request.headers[<span style="color:green">'nep-application-key'</span>] = <span style="color:mediumorchid">self</span>.NEP_APPLICATION_KEY

       request.headers[<span style="color:green">'nep-correlation-id'</span>] = <span style="color:green">'2020-0708'</span>
       request.headers[<span style="color:green">'nep-organization'</span>] = <span style="color:green">'burgers-unlimited' </span>

       # Add the request data to the sign-able content
       <span style="color:mediumorchid">self</span>.addAuthorization(request, key)

       <span style="color:orange">return</span> request

    SECRET_KEY = HMAC_SECRET_KEY
    SHARED_KEY = HMAC_SHARED_KEY

    <span style="color:orange">def</span> <span style="color:mediumorchid">customKey</span>(<span style="color:mediumorchid">self</span><span style="color:orange">,</span> date):
       <span style="color:green">"""
       Generates a unique one-time key from the secret key and date string.

       :param date: the date string (ISO-8601 format)
       :return: a unique UTF-8 encoded key
       """</span>
       key = <span style="color:mediumorchid">self</span>.SECRET_KEY + date
       <span style="color:orange">return</span> key.encode(<span style="color:green">'utf-8'</span>)

    <span style="color:orange">def</span> <span style="color:mediumorchid">addAuthorization</span>(<span style="color:mediumorchid">self</span><span style="color:orange">,</span> request<span style="color:orange">,</span> key):
       <span style="color:green">"""
       Generates the HMAC signature for a HTTP authorization request.

       :param request: the HTTP request
       :param key: the access key string
       """</span>
       parsedUrl = urlparse(request.url)
       pathAndQuery = parsedUrl.path

       <span style="color:orange">if</span> parsedUrl.query:
           pathAndQuery += <span style="color:green">'?'</span> + parsedUrl.query

       # HTTP method and path/query are required parameters
       values = [request.method<span style="color:orange">,</span> pathAndQuery]

       # Add the HTTP header values to the sign-able content
       values.append(request.headers[<span style="color:green">'Content-Type'</span>])

       <span style="color:orange">if</span><span style="color:green"> 'site'</span> <span style="color:orange">not in</span> pathAndQuery:
           values.append(request.headers[<span style="color:green">'nep-application-key'</span>])

       <span style="color:orange">if</span> <span style="color:green">'nep-correlation-id'</span> <span style="color:orange">in</span> request.headers:
           values.append(request.headers[<span style="color:green">'nep-correlation-id'</span>])

       values.append(request.headers[<span style="color:green">'nep-organization'</span>])

       separator = <span style="color:green">"<span style="color:orange">\n</span>"</span>
       params = separator.join(values)

       # Convert the sign-able content to UTF-8 encoding
       encodedParams = params.encode(<span style="color:green">'utf-8'</span>)

       # Calculate the HMAC using the SHA-512 algorithm
       hash = hmac.new(key<span style="color:orange">,</span> encodedParams<span style="color:mediumorchid">,</span> hashlib.sha512)
       digest = base64.b64encode(hash.digest()).decode(<span style="color:green">'utf-8'</span>)

       # Concatenate the shared key and HMAC strings (UTF-8)
       accessKey = <span style="color:mediumorchid">self</span>.shared_key + <span style="color:green">":"</span> + digest

       # Add the signature to the HTTP authorization header
       request.headers[<span style="color:green">'Authorization'</span>] = <span style="color:green">"AccessKey </span>" + accessKey
</code></pre>
                <div class="nav-btn-container">
                    <input type=button class="btn-about" onclick="onClickNavButton('li-tutorial', 'Tutorial')" value="Back">
                    <input type=button class="btn-about-secondary" onclick="onClickNavButton('li-resources', 'Resources')" value="Up Next: Resources">
                </div>
            </div>

            <!-- RESOURCES -->
            <div class="about-section about-section-hidden" id="Resources">
                <h2 class="section-header">Resources</h2>
                <p>For your convenience, we’ve pulled together a list of additional documentation and other resources you may find helpful: <br><br>
                    <a href="https://requests.kennethreitz.org/en/master/user/quickstart/">Python Requests Library</a><br>
                    <a href="https://developer.ncr.com/portals/dev-portal/api-explorer">Developer Experience (DevEx) Portal</a><br>
                    <a href="https://developer.ncr.com/portals/dev-portal/api-explorer/details/15/documentation?version=1.99">BSP Sites API</a><br>
                    <a href="https://developer.ncr.com/portals/dev-portal/api-explorer/details/8/documentation?version=2.99">BSP Catalog API</a><br>
                    <a href="https://developer.ncr.com/portals/dev-portal/api-explorer/details/9/documentation?version=3.99">BSP Order API</a><br>
                    <a href="https://developer.ncr.com/portals/dev-portal/help-center/documentation/66">Using Services/Authentication</a>
                </p>
                <input type=button class="btn-about-link-secondary" onclick="parent.open('https://github.com/NCR-Corporation/sample-app-burgers')" value="View Documentation in GitHub">
                <div class="nav-btn-container-long">
                    <input type=button class="btn-about" onclick="onClickNavButton('li-authentication', 'Authentication')" value="Back">
                </div>
            </div>

        </main>

    </div>
</div>

{% endblock content %}
