<!DOCTYPE html>
{% load static %}
{% load custom_tags %}


<html>
<title>Southland Menu </title>


<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/customboot.css' %}">
    <script src = "{% static 'js/menu.js' %}" type="text/javascript"> </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <script>


    //Commands for the FishBtn
        $(document).ready(function(){
            $("#FishBtn").click(function(){
                $(".Drink").hide();
                $(".Chicken").hide();
                $(".Sides").hide();
                $(".Fish").show();

            });

    //Commands for the ChickenBtn
            $("#ChickenBtn").click(function(){
                $(".Fish").hide();
                $(".Drink").hide();
                $(".Sides").hide();
                $(".Chicken").show();
            });

    //Commands for the DrinkBtn
            $("#DrinksBtn").click(function(){
                $(".Fish").hide();
                $(".Chicken").hide();
                $(".Sides").hide();
                $(".Drink").show();
            });

    //Commands for the SidesBtn
            $("#SidesBtn").click(function(){
                $(".Fish").hide();
                $(".Chicken").hide();
                $(".Drink").hide();
                $(".Sides").show();
            });
    //Commands for the SidesBtn
            $("#FullMenuBtn").click(function(){
                $(".Fish").show();
                $(".Chicken").show();
                $(".Drink").show();
                $(".Sides").show();


            });

    });



    </script>

</head>


<body>

<!-------------------------- The Nav Bar ----------------------------------------------->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'images/Lg.png' %}" height="40">
       </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto smooth-scroll d-lg-flex align-items-center mt-4" style="margin-bottom:0px; padding-bottom;0px">
           <li class="nav-item  ">
               <a class="nav-link" href="{% url 'about' %}">About</a>
           </li>
           {% if user.is_authenticated %}
                <li class="nav-item h-100">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
           {% else %}
                <li class="nav-item h-100">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
           <li class="nav-item h-100">
               <a class="nav-link" href="{% url 'Register' %}">Register</a>
           </li>
           {% endif %}
           <li class="nav-item h-100">
            <a class="nav-link" href="{% url 'viewCart' %}"> <i class="fa fa-shopping-cart fa-lg" style="color:#ffffff;"></i></a>

           </li>
       </ul>
    </div>
  </div>
</nav>

<br>
<h2 class="text-center">Southland Menu</h2>

<!-- Main Container -->
<div class="container-fluid" id="main_container">

    <!-- Sidebar -->
<!------------------------------------The filter buttons ------------------------------>
    <div class="d-flex flex-row justify-content-center" id="topbar">


                <div class="btn-toolbar" role="toolbar">
                    <button type="button" class="btn btn-custom mr-3 btn-lg" id="ChickenBtn">Chicken</button>
                    <button type="button" class="btn btn-custom mr-3 btn-lg" id="FishBtn">Fish</button>
                    <button type="button" class="btn btn-custom mr-3 btn-lg" id="SidesBtn">Sides</button>
                    <button type="button" class="btn btn-custom mr-3 btn-lg" id="DrinksBtn">Drinks</button>
                    <button type="button" class="btn btn-custom mr-3 btn-lg" id="FullMenuBtn">Full Menu</button>

        </div>


    </div>

    <br>

  <div class=" row flex-xl-nowrap justify-content-center">

 <!------------------------------The Cart and the Cart Items --------------------------------------------------->
        <div class="col-sm-2" id="order">
            <h3 class="text-center">

               <i class="fa fa-shopping-cart fa-lg" style="color:#7ed957;"></i> Cart</h3>

            <ul id="order_list" style="list-style-type:none">
            </ul>
            <div class="text-center">
                <p> $ <span id="total">0.00</span></p>
            </div>

            <div id="edit" class="text-center">
                <a href="viewCart" id="viewCart" class="btn btn-custom">View Cart | Edit Cart</a>
            </div>

        </div>
        <script>displayCart();</script>

 <!------------------------------The Menu Items and Menu Item Container --------------------------------------------------->

            <div class="container-fluid">
            <div class="row">
              {% for item in items %}

                <div class="col-sm-4 pb-4 {{item.department}} view"  id = "">

                <div class="card " >



                    {% if item.department == 'Fish' or item.department == 'Chicken' %}


                    <div class="card-img-top card-img"> <img class="img-fluid" src="{% static 'images/Burger.png' %}" style="max-height:250px, margin:auto;"></div>

                    {% elif item.department == 'Sides' %}
                    <div class="card-img-top card-img"> <img class="img-fluid" src="{% static 'images/Fries.png' %}"></div>

                    {% elif item.department == 'Drink' %}
                    <div class="card-img-top card-img"> <img class="img-fluid" src="{% static 'images/Drink.png' %}"></div>

                    {% endif %}


                    <div class="card-text text-center">
                        <p>{{item.name}}  </p>
                        <p>${{item.price}} </p>

                        <button class="btn btn-custom" style="margin-bottom: 5px;"  onclick="updateCart('{{item.price}}','{{item.name}}')">Add to Cart</button>


                    </div>

                </div> <!-- end card -->
                </div> <!-- end col for card -->

                {% endfor %}

            </div> <!-- end row for items -->
            </div> <!-- end container for items -->

    </div> <!-- end row that contains the sidebar and menu items -->






</div> <! -- end the container that holds the entire page -->





<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src = "{% static 'js/menu.js' %}" type="text/javascript"> </script>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        var toolBarD = document.getElementById("djShowToolBarD")
        var toolBarJ = document.getElementById("djShowToolBarJ")
        var toolBarButton = document.getElementById("djShowToolBarButton")
        if (toolBarD && toolBarJ) {
            toolBarD.setAttribute('style', 'display:none;')
            toolBarJ.setAttribute('style', 'display:none;')
        }
        if (toolBarButton) {
            toolBarButton.setAttribute('style', 'font-size:18px;')
            toolBarButton.innerHTML = "Profiler"
        }
    })
</script>

</body>

</html>










