{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Restaurant Results </title> {% endblock %}

{% block content %}

    {% if not results %}

        <br><br>
    <div class="container">
    <div class="jumbotron">
        <div class="justify-content-center">
      <h1 class="display-4">Oh No!! </h1>
      <p class="lead">It seems that we could not find any NCR Burgers restaurants in your area. Please try entering another address or widening your radius.</p>

      <button class="btn btn-custom btn-lg text-center" onclick="window.location.href='/';" role="button">Go Back</button>

    </div>
    </div>
    </div>

    {% else %}

        <br>
        <div class="container">
            <div class="row">
                <div class="card-deck">

        {% for result in results %}

            {% if result == 'Burgers Unlimited Midtown' %}


            <div class="card" style="35em;">
                <div class="card-image">
                    <img class="card-img-top" src="{% static 'images/Midtown.png' %}">
                </div>

                 <div class="card-body">
                <h5 class="card-title text-center">NCR Burgers Midtown </h5>
                <p class="card-text text-center" style="padding-right: 10px; padding-left:10px;">The Midtown location of NCR Burgers is a mecca of burger cuisine. It was at this location the Super Ultimate Mega Mega Best Burger was created.</p>
                </div>
                <a href="midtownMenu" class="btn btn-custom">See Menu</a>
            </div>

            {% elif result == 'Burgers Unlimited Southland' %}


             <div class="card" style="35em;">
                <div class="card-image">
                    <img class="card-img-top" src="{% static 'images/Southland.png' %}">

                </div>

                 <div class="card-body">
                <h5 class="card-title text-center">NCR Burgers Southland</h5>
                 <p class="card-text text-center" style="padding-right: 10px; padding-left:10px;">The Southland location of NCR Burgers is a fusion of southern cuisine and experimental cooking, featuring flavors from around the world.</p>
            </div>
                 <a href="southlandMenu" class="btn btn-custom">See Menu</a>
             </div>


            {% elif result == 'Burgers Unlimited Highlands' %}


             <div class="card" style="35em;">
                <div class="card-image">
                    <img class="card-img-top" src="{% static 'images/Highlands.png' %}">
                </div>

                 <div class="card-body">
                <h5 class="card-title text-center">NCR Burgers Highland</h5>
                 <p class="card-text text-center" style="padding-right: 10px; padding-left:10px;">The Highlands location of NCR Burgers caters to a different crowd. The Highlands menu is 100% vegetarian and 100% overpriced.</p>
                 </div>
                 <a href="highlandsMenu" class="btn btn-custom">See Menu</a>
             </div>


            {% endif %}
         {% endfor %}
                </div>
            </div>
            </div>

    {% endif %}
{% endblock %}